body {
    margin: 0;
    background: #0f0f12;
    font-family: Arial, sans-serif;
    color: white;
}

#app {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.subtitle {
    color: #7d7d7d;
    margin-top: -5px;
}

#chat {
    height: 70vh;
    padding: 20px;
    overflow-y: auto;
    background: #1a1a1f;
    border-radius: 10px;
}

.message {
    margin: 10px 0;
    padding: 15px 18px;
    border-radius: 10px;
    max-width: 85%;
    line-height: 1.5;
    font-size: 17px;
    white-space: pre-line;
}

.user {
    background: #005eff;
    margin-left: auto;
}

.bot {
    background: #2b2b31;
}

.typing {
    opacity: 0.6;
    font-style: italic;
}

#inputBox {
    display: flex;
    margin-top: 10px;
}

#userInput {
    flex: 1;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    border: none;
    font-size: 18px;
}

#sendBtn {
    width: 70px;
    border: none;
    background: #005eff;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
